:root {
    --royal-blue-dark: #00296bff;
    --melon: #f7bfb4ff;
    --rosso-corsa: #d00000ff;
    --amethyst: #985cdcff;
    --body-fonts: "Tahoma", "Helvetica", "Arial", sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--royal-blue-dark);
}

h1, h2 {
    display: flex;
    justify-content: center;
    color: white;
}

#page-title {
    margin-top: 30px;
    padding: 20px 0 20px 0;
}

#home {
    height: 50vh;
    display: flex;
    padding: 0 4em;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}